<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Baza filmow</title>
</head>
<body>
<div style="width: 100%; max-width: 1000px; margin: 100px auto">
    <h2>Co chcesz zrobic:</h2>

    <a href="/all_movies">Wyswietl liste wszystkich filmow w bazie</a></br>
    <a href="/addNewMovie">Dodaj nowy film do bazy</a></br>
    <a href="/all_actors">Wyswietl liste wszystkich aktorow w bazie</a></br>
    <a href="/addNewActor">Dodaj nowego aktora do bazy</a>
</div>
</body>
</html>
